html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	font: Tahoma;	
}
h1 {
	font: bold 20px Tahoma;
	padding-bottom: 15px;
}
h2 {
	font: bold 18px Tahoma;
	padding-bottom: 15px;
}
h3 {
	font: normal 16px Tahoma;
	padding-bottom: 15px;
}
h4 {
	font: bold 14px Tahoma;
	padding-bottom: 15px;
}
/* Hela sidan */
#wrapper {
	border: 1px solid black;
	width: 1000px;
	margin: 10px auto;
	text-align: left;
	background: #7282A8;
}
#top_header {
	border-bottom: 1px solid black;
	padding: 20px;
	background: #2B406F;
	color: #FFFFFF;
	background-image: url("pics/logo_top1.png");
	text-decoration: underline;
}
#top_header h1 {
	margin-left: 100px;
}
/* Style för menyn */
#top_menu {
	float: left;
	width: 200px;
	margin: 30px 0px;
	padding: 20px;
}
#top_menu li {
	padding: 10px;
	list-style: none;
	font: bold 14px tahoma;
}
/* index */
#top_menu li .link1 {
	background: #2B406F;
	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -48px;
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	text-align: right;
	border: 1px solid black;
	color: #FFFFFF;
	line-height: 20px;
	padding-right: 2px;
}
/* laborationer */
#top_menu li .link2 {
	background: #2B406F;
	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -144px;
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	text-align: right;
	border: 1px solid black;
	color: #FFFFFF;
	line-height: 20px;
	padding-right: 2px;
}
/* presentation */
#top_menu li .link3 {
	background: #2B406F;
	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -239px;
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	text-align: right;
	border: 1px solid black;
	color: #FFFFFF;
	line-height: 20px;
	padding-right: 2px;
}
/* kontakt */
#top_menu li .link4 {
	background: #2B406F;
	background-image: url(pics/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -336px;
	text-decoration: none;
	display: block;
	width: 125px;
	height: 25px;
	text-align: right;
	border: 1px solid black;
	color: #FFFFFF;
	line-height: 20px;
	padding-right: 2px;
}
/* Alla hovereffekter */
/* Bakgrundsflyttning för  */
#top_menu li .link1:hover {
	background-position: 0 0px;
	border: 1px solid white;
}
/* Bakgrundsflyttning för  */
#top_menu li .link2:hover {
	background-position: 0 -96px;
	border: 1px solid white;
}
/* Bakgrundsflyttning för  */
#top_menu li .link3:hover {
	background-position: 0 -191px;
	border: 1px solid white;
}
/* Bakgrundsflyttning för  */
#top_menu li .link4:hover {
	background-position: 0 -288px;
	border: 1px solid white;
}
/* Aktiva effekter för menyn */
#index #top_menu li .link1{
	background-position: 0 0px;
}
#laborationer #top_menu li .link2{
	background-position: 0 -96px;
}
#presentation #top_menu li .link3{
	background-position: 0 -191px;
}
#kontakt #top_menu li .link4{
	background-position: 0 -288px;
}
/* Style för allt innehåll */
#main_section {
	float: left;
	width: 660px;
	margin: 30px; /* 720px, 280 left */
}
/* Style för footer */
#the_footer {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 1px solid black;
	background: #2B406F;
	color: #FFFFFF;
	font-style: italic;
}
/* Alla article taggar */
article {
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 15px;
	background: #D0D7E6;
}
article footer {
	text-align: right;
	font-style: italic;
	margin: 5px;
}
article h2 {
	background: url("pics/book_icon.png") no-repeat;
	padding-left: 52px;
	line-height: 50px;
}
article h3 {
	text-decoration: underline;
}
article video {
	margin-right: 10px;
	max-width: 100%;
	max-height: 100%;
}
article img {
	margin: 10px;
}
article dt {
	text-decoration: underline;
	margin-bottom: 5px;
	margin-top: 5px;
}
/* Klasser för att höger/vänsterställa bilder */
.right {
	float: right;
	width:300px; 
	height:400px;
}
.left {
	float: left;
	width:300px; 
	height:400px;
}
/* Styles till tabeller */
table {
	border: 1px solid black;
}
thead th {
	border: 1px solid black;
	padding: 5px;
	font-weight: bold;
}
tbody td {
	border: 1px solid black;
	padding: 5px;
}
tfoot td {
	padding: 5px;
	text-align: center;
}
/* Style för presentationsidan */
#content h3 {
	padding: 0px;
	padding-top: 10px;
}
/* Style för Formulär */
form {
	padding: 5px;
}
form fieldset {
	padding: 2px;
}
form legend {
	text-decoration: underline;
	font-weight: bold;
	padding-top: 5px;
}
form h5 {
	padding-bottom: 2px;
	padding-top: 10px;
}